@use "@coreui/coreui/scss/coreui" as * with ($enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header>.container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-dark {
  --cui-body-color: rgba(255, 255, 255, 0.92);
  --cui-body-bg: #0e4c71;
  --cui-emphasis-color: #ffffff;
  --cui-secondary-color: rgba(255, 255, 255, 0.65);
  --cui-secondary-bg: #14547d;
  --cui-tertiary-color: rgba(255, 255, 255, 0.4);
  --cui-tertiary-bg: #0c3d5a;
  --cui-border-color: #0e4c71;
  --cui-link-color: #63b3ed;
  --cui-link-hover-color: #90cdf4;
  --cui-active-bg: #15689f;
}


.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar .nav-icon {
  color: #fff;
}

.sidebar .nav-link {
  color: #fff;
  font-size: 1.25rem;
}

.sidebar .nav-title {
  color: #fff;
  font-size: 1.10rem;
}

.sidebar .nav-link:hover {
  background-color: #e72f2b;
}

.sidebar .nav-link.active {
  background-color: #e72f2b;
}

.sidebar-toggler {
  margin-inline-start: auto;
  --cui-sidebar-toggler-color: white;
  --cui-sidebar-toggler-active-bg: white;
  --cui-sidebar-toggler-hover-color: white;
  --cui-sidebar-toggler-focus-color: white;

}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header>.container-fluid+.container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

.titulos-esfot {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: bold;
  color: #e72f2b;
}

.subtitulos-esfot {
  font-weight: bold;
  color: #0e4c71;
}

.subtitulos-esfot:hover {
  color: #e72f2b;
}

.textos-esfot {
  color: #f8ad25;
  font-weight: bold;
}

.btn-esfot {
  background-color: #e72f2b;
  border-color: #e72f2b;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn-esfot-form {
  background-color: #e72f2b;
  border-color: #e72f2b;
  color: white;
  font-weight: bold;
}

.btn-esfot-form:hover {
  background-color: #f8ad25;
  border-color: #f8ad25;
}

.btn-esfot:hover {
  background-color: #f8ad25;
  border-color: #f8ad25;
}

.bg-esfot {
  background-color: #0e4c71 !important;
}

.bg-esfot th {
  background-color: #0e4c71 !important;
  color: white !important;
  border-top: 3px !important;
}

.custom-input::placeholder {
  color: #6c757d;
  opacity: 1;
}

.text-danger::placeholder {
  color: #dc3545 !important;
  opacity: 1;
}

.table-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

.table-container {
  scrollbar-width: none;
  /* Firefox */
}

/* Sticky header para los th */
.table-container thead th {
  position: sticky;
  top: 0;
  background-color: #0e4c71;
  /* color similar a table-dark */
  z-index: 10;
}


@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}